body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1146px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:799px;
  height:434px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:799px;
  height:434px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:209px;
  width:795px;
  visibility:hidden;
  word-wrap:break-word;
}
#u470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:799px;
  height:58px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:799px;
  height:58px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:795px;
  word-wrap:break-word;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:58px;
  width:708px;
  height:372px;
}
#u472_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:372px;
  overflow:auto;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:58px;
  width:87px;
  height:192px;
}
#u473_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:93px;
  height:198px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u474 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:197px;
}
#u475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:83px;
  word-wrap:break-word;
}
#u477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:34px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:87px;
  height:34px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:87px;
  height:36px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:87px;
  height:30px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:128px;
  width:87px;
  height:32px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:87px;
  height:32px;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u487_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:8px;
  width:30px;
  height:40px;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:648px;
  height:329px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:79px;
  width:648px;
  height:329px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:156px;
  width:644px;
  visibility:hidden;
  word-wrap:break-word;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:132px;
  width:270px;
  height:212px;
}
#u492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:43px;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:43px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:129px;
  word-wrap:break-word;
}
#u494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:43px;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:0px;
  width:132px;
  height:43px;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:128px;
  word-wrap:break-word;
}
#u496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:43px;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:43px;
  width:133px;
  height:43px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:129px;
  word-wrap:break-word;
}
#u498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:43px;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:43px;
  width:132px;
  height:43px;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:128px;
  word-wrap:break-word;
}
#u500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:43px;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:133px;
  height:43px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:129px;
  word-wrap:break-word;
}
#u502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:43px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:86px;
  width:132px;
  height:43px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:128px;
  word-wrap:break-word;
}
#u504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:43px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:129px;
  width:133px;
  height:43px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:129px;
  word-wrap:break-word;
}
#u506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:43px;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:129px;
  width:132px;
  height:43px;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:128px;
  word-wrap:break-word;
}
#u508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:35px;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:172px;
  width:133px;
  height:35px;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:35px;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:172px;
  width:132px;
  height:35px;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:86px;
  width:152px;
  height:36px;
  font-size:18px;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:148px;
  word-wrap:break-word;
}
#u514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:357px;
  width:90px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:357px;
  width:90px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#00CC00;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:466px;
  width:242px;
  height:37px;
  font-size:28px;
  color:#00CC00;
}
#u519 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00CC00;
}
#u520 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:217px;
  width:118px;
  height:27px;
  font-size:16px;
  color:#00CC00;
}
#u521 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:2px;
}
#u522 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:230px;
  width:62px;
  height:1px;
}
#u523 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:2px;
}
#u524 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:484px;
  width:206px;
  height:1px;
}
#u525 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u526 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:28px;
  width:100px;
  height:30px;
}
#u526_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u527 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
}
#u528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u528 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:60px;
  visibility:hidden;
}
#u530_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u531 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:65px;
}
#u532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u532 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u534 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u535 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:2px;
}
#u536 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:299px;
  width:275px;
  height:1px;
}
#u537 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u538 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:252px;
  width:312px;
  height:37px;
  font-size:20px;
}
#u539 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u541 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:451px;
  width:70px;
  height:28px;
  color:#000000;
}
#u542 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#00CC00;
}
#u543 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:489px;
  width:156px;
  height:31px;
  font-size:18px;
  color:#00CC00;
}
#u544 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:2px;
}
#u545 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:509px;
  width:87px;
  height:1px;
}
#u546 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
